<a href="https://colab.research.google.com/github/Kanabee/iris_dataset/blob/main/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [12]:
# Read data from CSV
data = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
from sklearn.model_selection import train_test_split
## train - 70%
## test - 30%

In [15]:
# input data
X = data.drop(columns=['variety'])
# output data
Y = data['variety']
# split the data for train and test
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)

In [16]:
## Model Training

# logistic regression 
from sklearn.linear_model import LogisticRegression
model_log = LogisticRegression()

# model training
train_model_log = model_log.fit(x_train, y_train)

# print  to get performance
print("Accuracy: ",model_log.score(x_test, y_test) * 100)

Accuracy:  97.77777777777777

In [18]:
from sklearn import model_selection
# knn - k-nearest neighbours
from sklearn.neighbors import KNeighborsClassifier
model_knn = KNeighborsClassifier()

train_model_knn = model_knn.fit(x_train, y_train)

# print to get performance
print("KNN Accuracy: ",model_knn.score(x_test, y_test) * 100)

# decision tree
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier()
model_tree.fit(x_train, y_train)
# print to get performance
print("Decision Tree Accuracy: ",model_tree.score(x_test, y_test) * 100)

KNN Accuracy:  95.55555555555556
Decision Tree Accuracy:  95.55555555555556